[Unit]
Description=Remote tcp connection service
Requires=rc-local.service
After=network.target rc-local.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/connectd_start_all
ExecStop=/usr/bin/connectd_stop_all
Restart=always
RestartSec=10s
TimeoutStartSec=0
StartLimitInterval=60s
StartLimitBurst=86400

[Install]
WantedBy=multi-user.target

